.container {
  width: 100%;
}

.table {
  box-sizing: border-box;
  width: 802px;
  margin: 10px auto;
  border-spacing: 0;
  border-left: 1px solid #ccc;
  font-weight: bold;
}

.headerFirstRow {
  height: 20px;
}

.headerSecondRow {
  height: 15px;
}

.headerCell {
  background-color: #4b6ca4;
  border-right: 1px solid #355183;
  border-left: 1px solid #8faee0;
  border-bottom: 1px solid #355183;
  border-top: 1px solid #849ec5;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

.time {
  width: 77px;
  text-align: center;
}

.runningBall {
  position: relative;
  width: 195px;
}

.clearIcon {
  position: absolute;
  right: 3px;
}

.fullTime {
  width: 240px;
}

.firstHalf {
  width: 290px;
}

.hdp {
  width: 89px;
}

.ou {
  width: 102px;
}

.oneXTwo {
  width: 49px;
}

.empty {
  width: 50px;
}

.headerRow2 .headerCell {
  font-size: 10px;
  font-weight: normal;
}

.bodyRowHeader {
  height: 22px;
  border: none;
}

.bodyCellHeader {
  background-color: #b1b1b1;
  cursor: pointer;
  border-bottom: 1px solid #e6c0b2;
  border-top: 1px solid #f6f7fc;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 11px;
  color: #000;
}

.bodyCellHeader:last-child {
  padding-left: 30px;
  border-right: 1px solid #bbb;
}

.bodyRow {
  background-color: rgb(255, 213, 197);
}

.bodyRow:hover {
  background-color: rgb(245, 241, 213);
}

.bodyCell {
  border-bottom: 1px solid #e6c0b2;
  border-top: 1px solid #f6f7fc;
  border-left: 1px solid #f6f7fc;
  border-right: 1px solid #e6c0b2;
  vertical-align: top;
  font-size: 11px;
  padding: 0 3px;
}

.showMore {
  display: block;
  background-color: #5c7ca6;
  width: 40px;
  height: 18px;
  border-radius: 2px;
  margin: 0 auto;
  margin-top: 2px;

  text-align: center;
  text-decoration: none;
  font-size: 10px;
  color: #fff;
  line-height: 18px;
}

.arrowIcon {
  width: 6px;
  height: 6px;
  margin-right: 5px;
}

.runningBallRow {
  display: flex;
  justify-content: space-between;
}

.linkBlock {
  display: flex;
  align-items: center;
}

.runningBallLink {
  margin: 2px;
}

.textBlack {
  font-size: 11px;
  color: #000;
}

.textGray {
  font-size: 10px;
  color: #333;
}

.textRed {
  font-size: 11px;
  color: #b50000;
}

.textBlue {
  font-size: 11px;
  color: #022352;
}

.textDarkGray {
  min-width: 30px;
  color: #555;
  font-size: 10px;
}

.textLightGray {
  color: #999;
  font-size: 9px;
}

.hdpRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.activeNumber {
  width: 35px;
  cursor: pointer;
  text-align: center;
}

.activeNumber:hover {
  background-color: #ffe00e;
}

.ouRow {
  display: flex;
  margin-bottom: 5px;
  gap: 20px;
}

.oneXTwoRow {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.hdpColumn {
  border-right: none;
}

.ouColumn {
  border-right: none;
  border-left: none;
}

.oneXTwoColumn {
  border-left: none;
  border-right: 2px solid #daac9b;
}
