.container {
  display: flex;
  margin: 10px 0;
}

.table {
  box-sizing: border-box;
  border-spacing: 0;
  border-left: 1px solid var(--border-white-color);
  font-weight: bold;
}

.headerCell {
  background-color: var(--header-cell-color);
  border-right: 1px solid var(--header-border-dark-blue-color);
  border-left: 1px solid var(--header-border-light-blue-color);
  border-bottom: 1px solid var(--header-border-dark-blue-color);
  border-top: 1px solid var(--header-border-light-blue-color);
  color: var(--white-color);
  font-size: 12px;
  text-transform: uppercase;
}

.time {
  width: 75px;
  text-align: center;
}

.runningBall {
  position: relative;
  width: 195px;
}

.clearIcon {
  position: absolute;
  right: 5px;
}

.hdp {
  width: 85px;
}

.ou {
  width: 95px;
}

.oneXTwo {
  width: 45px;
}

.empty {
  width: 45px;
}

.headerSecondRow .headerCell {
  font-size: 10px;
  font-weight: normal;
}

.bodyRowHeader {
  border: none;
}

.bodyCellHeader {
  background-color: var(--header-cell-background-color);
  cursor: pointer;
  border-bottom: 1px solid var(--cell-border-dark-color);
  border-top: 1px solid var(--cell-border-light-color);
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 11px;
  color: var(--black-color);
  padding: 5px;
}

.bodyCellHeader:last-child {
  padding-left: 30px;
  border-right: 1px solid var(--cell-border-primary-color);
}

.bodyRow {
  background-color: var(--body-row-color);
}

.bodyRow:hover {
  background-color: var(--body-row-hover-color);
}

.bodyCell {
  border-bottom: 1px solid var(--cell-border-dark-color);
  border-top: 1px solid var(--cell-border-light-color);
  border-left: 1px solid var(--cell-border-light-color);
  border-right: 1px solid var(--cell-border-dark-color);
  vertical-align: top;
  font-size: 11px;
  padding: 0 3px;
}

.showMore {
  display: block;
  background-color: var(--showMore-button-background-color);
  border-radius: 2px;
  margin: 5px auto;
  padding: 5px 10px;

  text-align: center;
  text-decoration: none;
  font-size: 10px;
  color: var(--white-color);
  line-height: 18px;
  border: none;
  cursor: pointer;
}

.showMore:hover {
  background-color: var(--showMore-button-hover-background-color);
}

.arrowIcon {
  width: 7px;
  height: 7px;
  margin-right: 5px;
}

.runningBallRow {
  display: flex;
  justify-content: space-between;
}

.linkBlock {
  display: flex;
  align-items: center;
}

.runningBallLink {
  margin: 0 5px;
  cursor: pointer;
}

.textBlack {
  font-size: 11px;
  color: var(--black-color);
}

.textGray {
  font-size: 10px;
  color: var(--dark-gray-text-color);
}

.textRed {
  font-size: 11px;
  color: var(--red-text-color);
}

.textBlue {
  font-size: 11px;
  color: var(--blue-text-color);
}

.textDarkGray {
  min-width: 30px;
  color: var(--gray-text-color);
  font-size: 10px;
}

.textLightGray {
  color: var(--light-gray-text-color);
  font-size: 9px;
}

.hdpRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.activeNumber {
  display: flex;
  cursor: pointer;
  width: 100%;
  justify-content: flex-end;
}

.activeNumber:hover {
  background-color: var(--active-number-background-color);
}

.ouRow {
  display: flex;
  margin-bottom: 5px;
  gap: 20px;
}

.oneXTwoRow {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.hdpColumn {
  border-right: none;
}

.ouColumn {
  border-right: none;
  border-left: none;
}

.oneXTwoColumn {
  border-left: none;
  border-right: 2px solid var(--cell-border-dark-color);
}
