.sideBar {
  min-width: 180px;
  margin: 0 20px 0 5px;
  font-size: 11px;
  font-weight: bold;
}

.sideBarBlock {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  margin-bottom: 4px;
  background: var(--secondary-white);

  border: 1px solid var(--blue-200);
  border-radius: 5px 5px 0px 0px;
}

.sideBarBlockItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 5px 5px;
}

.sideBarBlockItemContent {
  background: var(--secondary-white);
  padding-top: 5px;
  border: none;
}

.sideBarBlockItem:nth-child(3) {
  padding: 0;
  border-top: 1px solid var(--blue-200);
}

.configButton {
  display: flex;
  justify-content: center;
  background-color: var(--blue-300);
  height: 14px;
  width: 14px;
  padding: 0;
  border: none;
  border-radius: 10px;
  transform: rotate(180deg);
  cursor: pointer;
}

.refreshButton {
  height: 15px;
  width: 15px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: var(--secondary-white);
}

.blueText {
  color: var(--bright-blue);
  text-decoration: none;
}

.title {
  flex-grow: 1;
  padding: 0 0 0 5px;
  background: var(--primary-gray);
  text-align: left;
  font-weight: normal;
  color: var(--blue-600);
}

.credit {
  flex-grow: 1;
  padding: 0 10px 0 0;
  text-align: right;
  background: var(--primary-white);
  font-size: 10px;
}

.blueHeader {
  background-color: var(--blue-400);
  border: 1px solid var(--blue-200);
}

.refreshButtonForecast {
  background-color: var(--blue-400);
}

.blueHeaderTitle {
  color: var(--primary-white);
  text-decoration: none;
}

.blueHeaderTitle:hover {
  color: var(--orange-color);
}

.sumTitle {
  text-decoration: none;
  color: var(--black-color);
}

.coeficientInfo {
  background-color: var(--blue-100);
  border: solid 1px var(--blue-300);
}

.coeficientInfoTitle {
  padding: 5px 0px 5px 10px;
  font-size: 12px;
  border-bottom: 1px solid var(--blue-200);
}

.coeficientInfoDetails {
  background-color: var(--primary-table);
  text-align: right;
  padding: 5px;
}

.coeficientInfoDetailsTitle {
  color: var(--red-color);
  font-size: 13px;
}

.textBlue {
  color: var(--blue-600);
  font-size: 13px;
}

.coeficientInfoDetailsContent {
  padding-bottom: 5px;
}

.autoRefresh {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--secondary-gray);
  font-weight: 100;
}

.coeficientInfoDescription {
  background-color: var(--primary-white);
  border: solid 1px var(--primary-gray);
  padding: 5px 0 5px 10px;
  font-size: 10px;
  font-weight: 100;
}

.coeficientInfoDescriptionTitle {
  color: var(--bright-blue);
  text-transform: uppercase;
}

.coeficientInfoInput {
  background-color: var(--primary-gray);
  border-top: 1px solid var(--secondary-gray);
  border-bottom: 1px solid var(--secondary-gray);
  padding: 5px 5px 5px 10px;
}

.inputBlock {
  max-width: 160px;
  margin-left: 5px;
  text-align: right;
}
